[submodule "assets/commonpng"]
	path = assets/commonpng
	url = https://github.com/asfu222/commonpng.git
	branch = main
[submodule "assets/ourplay"]
	path = assets/ourplay
	url = https://github.com/asfu222/ourplay.git
	branch = main
[submodule "assets/beicheng"]
	path = assets/beicheng
	url = https://github.com/asfu222/beicheng.git
	branch = main